/*#help_overlay {

  opacity : 0.4;
  position: 'absolute';
  top: 0;
  left: 0;
  background-color: 'black';
  width: 100%;
  z-index: 5000;
}*/


#help_overlay:after {
  background: url('/images/help.png') no-repeat;
  opacity: 0.8;

  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}